<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <title>Document</title>
</head>
<body>
  <div class="container text-center my-5">
    <div class="col">
      <div class="row justify-content-center">
        <p class="fs-1">URL Shortener</p>
        <div class="col-sm-2 mb-5">
          <img src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png" class="img-fluid" alt="URLShortenerImage">
        </div>
      </div>
      {{{body}}}

    </div>
  </div>

  <script src="/javascripts/popper.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
</body>
</html>