<form action="/" method="get">
  <div class="mb-3">
    <label for="inputURL" class="form-label"></label>
    <input type="url" class="form-control" id="inputURL" name="inputURL" placeholder="Input URL here" aria-describedby="inputURLHere">
  </div>
  <button type="submit" class="btn btn-primary">Shorten</button>
</form>