<form action="/shorten" method="post" class="row justify-content-center" id="inputURLForm">
  <div class="col-8 mb-3">
    <label for="inputURL" class="form-label"></label>
    <input type="url" class="form-control" id="inputURL" name="inputURL" placeholder="Input URL here" aria-describedby="inputURLHere">
  </div>
  <div class="w-100"></div>
  <button type="submit" class="btn btn-outline-primary col-4">Shorten</button>
</form>

{{!-- 避免輸入空白，會跳出警告視窗 --}}
<script>
  const inputURLForm = document.getElementById('inputURLForm')
  const inputURL = document.getElementById('inputURL')
  inputURLForm.addEventListener('submit', e => {
    if (!inputURL.value.trim()) {
      e.preventDefault()
      window.alert('No blank URL')
    }
  })
</script>