<div class="row justify-content-center">
  <h2 class="col-6">Success! Please use this link:</h2>
  <div class="w-100"></div>
  <a href={{shortenURL}} class="col-6 fs-3 mb-3">{{shortenURL}}</a>
  <div class="w-100"></div>
  <button type="button" class="btn btn-primary col-1 mx-auto">Copy</button>
</div>